@import "tailwindcss";

@font-face {
  font-family: "Pretendard";
  src: url("./fonts/PretendardVariable.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "GmarketSans";
  src: url("./fonts/GmarketSansTTFMedium.ttf") format("truetype");
  font-display: swap;
}

html,
body {
  width: 100%;
  height: 100%;
}

@theme {
  --color-main01: #ffecf4;
  --color-main02: #ffd0e3;
  --color-main03: #ffb4d1;
  --color-main04: #ff98c0;
  --color-main05: #ff7caf;
  --color-main06: #ff609e;
  --color-main07: #ff448d;

  --color-gray01: #ffffff;
  --color-gray02: #f9f9fa;
  --color-gray03: #ededf1;
  --color-gray04: #dfdfe0;
  --color-gray05: #d8d8da;
  --color-gray06: #c9c9ca;
  --color-gray07: #bcbcbe;
  --color-gray08: #939494;
  --color-gray09: #59595a;
  --color-gray10: #1b1a1b;

  --color-purple01: #f5f5fe;
  --color-purple02: #ededfc;
  --color-purple03: #d9d9fc;
  --color-purple04: #cacafb;
  --color-purple05: #bcbcfa;
  --color-purple06: #adadf9;
  --color-purple07: #9f9ff8;

  --color-blue01: #f4f9ff;
  --color-blue02: #e6effd;
  --color-blue03: #d3e5ff;
  --color-blue04: #c3dcff;
  --color-blue05: #b3d2ff;
  --color-blue06: #a2c9ff;
  --color-blue07: #92bfff;
  --color-blue08: #78b0ff;
  --color-blue09: #6ca9ff;

  --color-mint01: #f4fcfb;
  --color-mint02: #e5f8f5;
  --color-mint03: #d5f3ef;
  --color-mint04: #c5efe8;
  --color-mint05: #b5ebe2;
  --color-mint06: #a6e6dc;
  --color-mint07: #96e2d6;
  --color-mint08: #71ddcb;
}

:root {
  font-family: "Pretendard", ui-sans-serif, system-ui, sans-serif;
}

:lang(en),
[lang="en"] {
  font-family: "GmarketSans", sans-serif;
}
